body>.wrapper {
    display: flex;
    width: 100vw;
    flex-flow: row;
    position: relative;
    background-color: #fafafa;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.0em;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300
}

img {
    margin: 15px 0;
}

img.banner-image {
    width: 100%;
    padding-bottom: 2em;
    margin: 0
}

#content {
    padding: 25px 44px;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    width: 100px;
}

#sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 250px;
    min-height: 100vh;
    background: #1c1b1b;
    background-image: url("../img/sidebar_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    transition: all 0.3s;
}

#sidebar-wrapper {
    width: 250px;
    min-height: 100vh;
    position: fixed;
    background-color: rgba(0.0, 0.0, 0.0, 0.8);
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar .sidebar-header .first-name {
    color: #f09c00;
}

#sidebar .sidebar-header p {
    margin-bottom: 0.5em;
    text-transform: uppercase;
    color: #ccc;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 0
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 5px 20px;
    font-size: 1.0em;
    display: block;
    color: inherit
}

#sidebar ul li a:hover {
    background: #222;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: #bf7c00;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.timeline {
    display: flex;
    width: 100%;
    overflow-x: auto;
}

.timeline>.timeline-entry {
    display: block;
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
    padding: 1em 0.8em
}


.timeline .timeline-image-holder {
    width: 200px;
    height: 120px;
    position: relative;
    margin-bottom: 1em
}

.timeline .timeline-image-holder img {
    max-width: 160px;
    max-height: 120px;
    padding: 1em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.timeline .timeline-time {
    font-weight: 700
}

.timeline .timeline-position {
    font-size: 1.0em;
}

.timeline .timeline-description {
    font-size: 0.9em;
    padding-top: 0.5em;
}

ul.publications {
    padding-top: 10px;
}

#links {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#links li {
    color: #ccc;
    font-size: 0.9em;
}

.pub-links a {
    padding-right: 0.5em
}

.pub-award {
    color: #e83e8c
}

.link-self {
    font-weight: 500
}

.pub-authors a {
    color: #333
}

.pub-preview {
    width: 10%;
}

.pub-preview img {
    width: 100%;
    margin: 0;
}

.pub-abstract {
    font-size: 0.9em;
}

a.btn {
    border-radius: 0
}

#coursework-collapse {
    max-height: 200px;
    overflow-y: scroll;
    font-size: 0.9em;
}

#coursework-collapse>h4 {
    font-size: 1.4em;
}

@media only screen and (max-width: 800px) {
    body>.wrapper {
        display: block;
    }

    #content {
        padding: 25px 44px;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        width: 100%;
    }

    #sidebar {
        max-width: inherit;
        min-height: 100px;
        width: 100%;
        flex-basis: 100%;
        position: default;
    }

    #sidebar-wrapper {
        max-width: inherit;
        min-height: 100px;
        position: static;
        width: 100%;
    }

    #sidebar ul.components {
        padding-bottom: 5px;
        margin-bottom: 0;
    }

    #links {
        position: inherit;
        padding-bottom: 15px;
        display: flex;
    }
}
