{% extends "template.html" %}
{% block content %}
 <div class="row">
    <div class="projs col-sm-12">
        <h1>Personal Projects</h1>
        <ul>
            <li>
                <strong>Hair Strands Rendering</strong>
                <a href="https://github.com/jhonve">Project page</a>
                <div>
                <img src="img/projects/hairstrandsrendering.png" alt="UI demo" class="img-fluid">
                </div>
                This is hair strands rendering tool.
            <li>
                <strong>Objs Depth Rendering</strong>
                <a href="https://github.com/jhonve/ObjsDepthRender">Project page</a>
                <div>
                <img src="img/projects/objsdepthrender.png" alt="Depth imgs" class="img-fluid">
                </div>
                This is an obj depth rendering tool.
        </ul>
    </div>
</div>
{% endblock %}
